* {
    margin: auto;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  footer {
    margin-top: auto;
  }
  .pinicio{
    font-size: 2em;
    font-weight: bold;
  }
  .pnosotros{
    font-size: 2em;
    font-weight: bold;
  }
  .pfaq{
    font-size: 2em;
    font-weight: bold;
  }
  .pcontacto{
    font-size: 2em;
    font-weight: bold;
  }
  .bg-propio {
    background-color: #64ed02;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1em;
    justify-content: space-evenly;
  }
  
  .navbar-brand {
    width: 9em;
    height: 5em;
  }
  
  .bg-propio1 {
    background-color: rgb(242, 245, 240);
  }
  
  .navfooter {
    height: 4em;
    justify-content: space-evenly;
    margin-top: 2em;
  }
  
  .navbar-nav {
    margin-top: 1em;
  }
  
  .wpp-fixed {
    width: 1em;
    height: 1em;
  }
  
  .nav-item {
    width: 2em;
    height: 2em;
  }
  
  .bg-propio2 {
    background-color: #64ed02;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1em;
    justify-content: space-evenly;
  }
  
  .nav {
    text-align: row;
  }
  
  .folletoi {
    width: 30em;
    height: 22em;
    margin-top: 3em;
    margin-left: 4em;
  }
  
  .listanuestra {
    margin-left: 2em;
    margin-top: 3em;
  }
  
  h1 {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .especies {
    font-size: 1.8em;
  }
  
  .navbar-footer {
    width: 5em;
    height: 3em;
    text-decoration: none;
    justify-content: space-evenly;
  }
  
  .logonosotros {
    width: 15em;
    height: 8em;
  }
  
  .listanosotros {
    margin-top: 2em;
  }
  
  h2 {
    font-weight: bold;
  }
  
  .logoFAQ {
    width: 15em;
    height: 8em;
  }
  
  .listafaq {
    margin-top: 2em;
  }
  
  h4 {
    font-weight: bold;
    font-size: 1.8em;
  }
  
  h5 {
    font-weight: bold;
    font-size: 1.8em;
  }
  
  .folletocontacto {
    width: 38em;
    height: 28em;
    margin-left: 14em;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  
  .flex-form {
    margin-top: 1em;
  }